.d-grid .data-table tr:nth-child(even) {
	/* background: #E0E0E0; */
} 

.d-grid .data-table .current-row {
    background-color: #15a4fa !important;
}

.link {
	color: #058FE1;
	cursor: pointer;
}

.d-grid .data-table .current-row .link {
    color: #ffffff !important;
}

.d-grid .data-table .row .current-cell {
    background-color: inherit;
}