@CHARSET "US-ASCII";


/* 工具栏--名称 */
#d__uid_17 {
	position: absolute;
	top: 28px;
	left: 20px;
	font-size: 26px;
	color: #3C3C3C;
	height: 0px !important;
}

/* 工具栏--首页 */
#d__uid_19 {
	position: absolute;
	top: 28px;
	left: 260px;
	font-size: 26px;
	height: 0px !important;
}

/* 工具栏--栏目按钮 */
#d__uid_23 {
	position: absolute;
	top: 30px;
	left: 90%;
	font-size: 22px;
	height: 0px !important;
}

/* 工具栏--登陆按钮 */
#d__uid_25 {
	position: absolute;
	top: 11px;
	left: 93%;
	height: 55px;
	width: 55px;
	border-radius: 50%;
}

#d__uid_25>span {
	padding-top: 12px;
	font-size: 15px;
	margin-left: -1px;
}

/* 工具栏--搜索框 */
#d__uid_21 {
	height: 55px;
	width: 50% !important;
	border-radius: 60px;	
	position: absolute;
	top: 10px;
	left: 450px;
}

/* 搜索框中的搜索图标 */
.fa-search:before {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 25px;
	color: #BEBEBE;
}

/* 搜索框中的编辑框 */
input.editor {
	font-size: 22px;
	padding-top: 4px !important;
	padding-left: 30px !important;
	height: 45px !important;
	
}

.editor {
	width: 95% !important;
	margin-left: 15px !important;
}


/*新闻项时间*/
p {
	margin-left: 500px;
	margin-top: -23px;
	height: 10px;
}

/*二级栏目*/
#d_bvOther>div>div>div>h4 {
	padding-left: 20px !important;
}

/*新闻项背景*/
#d_bvOther {
	padding-top: 20px;
	padding-left: 10%;
	width: 670px;	
}

#d_bvOther .block {
	background-color: #FFF;	
	border:1px solid;
	border-color: #d0d0d0;
}

#d_bvHotNews {
	/* padding-top: 3px; */
	width: 660px !important;
}

#d_bvHotNews>div>div {
	height: 1872px !important;
}

#d_bvHotNews>div>div>div {
	height: 1852px !important;
}

#d_bvOther>div>div {
	width: 660px !important;
}


/*热点新闻背景*/
#d_bvHotNews .block {
	background-color: #FFF;
	border:1px solid;
	border-color: #d0d0d0;
	
}
/*热点二级栏目*/
#d_bvHotNews>div>div>div>h4 {
	padding-left: 20px !important;
}

#d_bvHotNews>div>div>div>ul {
	margin-top: -13px !important;
}

#d_bvHotNews>div>div>div>ul>li {
	padding-top: 3px !important;
}
/* 
#d_bvHotNews>div>div>div>ul>li:nth-child(1) {
	font-weight: bold;
}

#d_bvHotNews>div>div>div>ul>li:nth-child(3n) {
	font-weight: bold;
} */


/*新闻项*/
.d-block-view .ex.items>li {
	line-height: 1.7em;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, -webkit-box-shadow,
		-webkit-transform;
	-moz-transition-property: -moz-box-shadow, -moz-transform;
	-ms-transition-property: color, -ms-box-shadow, -ms-transform;
	-o-transition-property: color, -o-box-shadow, -o-transform;
	transition-property: color, box-shadow, transform;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.d-block-view .ex.items>li:hover {
	color: #15A4FA;
	text-decoration: underline;
}
 
.d-block-view .ex.items>li {
	width: 430px !important;
}
/*次级栏目 --更多 按钮*/

.d-block-view .ex.header>p {
	line-height: 1.7em;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, -webkit-box-shadow,
		-webkit-transform;
	-moz-transition-property: -moz-box-shadow, -moz-transform;
	-ms-transition-property: color, -ms-box-shadow, -ms-transform;
	-o-transition-property: color, -o-box-shadow, -o-transform;
	transition-property: color, box-shadow, transform;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.d-block-view .ex.header>p:hover {
	color: #EA0000;
}

/*新闻项整体背景*/
.d-block-view .block-current {
	color: #000;
	background-color: #f7f7f7;
}

.d-block-view .block-hover {
	color: #000;
	background-color: #f7f7f7;
}

/*新闻项图片*/
img {
	height: 300px;
	width: 590px;
	position: absolute;
	top: 236px;
}

/*轮播图位置*/
#d__uid_31 {
	padding-top: 40px;
	height: 350px !important;
}

#d__uid_31>img {
	
	padding-left: 30px;
	height: 350px;
	width: 650px;
}

 

/*link样式*/
.link {
	color: #058FE1;
	cursor: pointer;
}

/* 

link样式
.d-grid .data-table .current-row .link {
	color: #ffffff !important;
}

.d-grid .data-table .row .current-cell {
	background-color: inherit;
}

 */ 