@CHARSET "US-ASCII";


/* 工具栏--名称 */
#d__uid_16 {
	position: absolute;
	top: 28px;
	left: 20px;
	font-size: 26px;
	color: #3C3C3C;
	height: 0px !important;
}

/* 工具栏--首页 */
#d__uid_18 {
	position: absolute;
	top: 28px;
	left: 260px;
	font-size: 26px;
	height: 0px !important;
}

/* 工具栏--栏目按钮 */
#d__uid_22 {
	position: absolute;
	top: 30px;
	left: 90%;
	font-size: 22px;
	height: 0px !important;
}

/* 工具栏--登陆按钮 */
#d__uid_24 {
	position: absolute;
	top: 11px;
	left: 93%;
	height: 55px;
	width: 55px;
	border-radius: 50%;
}

#d__uid_24>span {	
	padding-top: 12px;
	font-size: 15px;
	margin-left: -1px;
}

/* 工具栏--搜索框 */
#d__uid_20 {
	height: 55px;
	width: 50% !important;
	border-radius: 60px;	
	position: absolute;
	top: 10px;
	left: 450px;
}

/* 搜索框中的搜索图标 */
.fa-search:before {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 25px;
	color: #BEBEBE;
}

/* 搜索框中的编辑框 */
input.editor {
	font-size: 22px;
	padding-top: 4px !important;
	padding-left: 30px !important;
	height: 45px !important;
	
}

.editor {
	width: 95% !important;
	margin-left: 15px !important;
}

/*标题*/
#d_title {
	width: 1100px !important;
	margin-left: 19%;
	border-bottom-style: solid;
	border-bottom-color: #2828FF;
}
/*发布人及时间*/
#d_data {
	width: 400px !important;
	margin-left: 19%;
}

/*浏览次数*/
#d_count {
	margin-left: 50%;
	width: 150px !important;
	top: 226px !important;
}

/*排行榜*/
#d_bvNumber {
	margin-left: 20px;
}

#d_bvNumber>div>div>div>h4 {
	width: 400px !important;
	margin-left: 5px;
	font-size: 18px;
	margin-top: -3px;
	color: #AE0000;
}

#d_bvNumber>div>div>div>ul {
	margin-top: -20px !important;
}

#d_bvNumber>div>div>div>ul>li {
	width: 400px !important;
	margin-left: -18px;
	font-size: 16px;
	padding-top: 10px;
}

/*排行榜新闻项*/
.d-block-view .ex.items>li {
	line-height: 1.7em;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, -webkit-box-shadow,
		-webkit-transform;
	-moz-transition-property: -moz-box-shadow, -moz-transform;
	-ms-transition-property: color, -ms-box-shadow, -ms-transform;
	-o-transition-property: color, -o-box-shadow, -o-transform;
	transition-property: color, box-shadow, transform;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.d-block-view .ex.items>li:hover {
	color: #15A4FA;
	text-decoration: underline;
}

/*新闻项整体背景*/
#d_bvNumber .block {
	background-color: #FFF;	
}

/*新闻项整体背景*/
.d-block-view .block-current {
	color: #000;
	background-color: #f7f7f7;
}

.d-block-view .block-hover {
	color: #000;
	background-color: #f7f7f7;
}

/*横向滚动条*/
.slider.ui-draggable {
	visibility: hidden;
}

.track {
	visibility: hidden;
}

/*UEditor toolbar 高度*/
.edui-editor-toolbarboxouter.edui-default {
	height: 0px;
}
.edui-editor-toolbarbox.edui-default {
	height: 0px;
}

/*UEditor 页尾高度*/
.edui-editor-bottomContainer.edui-default {
	height: 0px;
} 


