
@media screen and (min-width: 1100px) {
	/*搜索框*/
	.searchBox {
		height: 45px;
		border-radius: 60px;	
		position: absolute;
		top: 7px;
		left: 250px;
		background-color: #F0F0F0;
	}
	
	/*栏目按钮*/
	.programaBtn {
		position: absolute;
		top: 25px;
		left: 90%;
		font-size: 22px;
		height: 0px !important;
		color: #6C6C6C;
		cursor: pointer;
	}
	
	/*登陆按钮 */
	.loginBtn {
		position: absolute;
		top: 7px;
		left: 93%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}

	/*发布按钮 */
	.issueBtn {
		position: absolute;
		top: 25px;
		left: 84%;
		font-size: 18px;
		height: 0px !important;
		color: #6C6C6C;
		cursor: pointer;
	}

}

@media screen and (min-width: 800px) and (max-width: 1100px) {
	/*搜索框*/
	.searchBox {
		height: 45px;
		border-radius: 60px;	
		position: absolute;
		top: 7px;
		left: 250px;
		background-color: #F0F0F0;
	}
	
	/*栏目按钮*/
	.programaBtn {
		position: absolute;
		top: 25px;
		left: 88%;
		font-size: 22px;
		height: 0px !important;
		color: #6C6C6C;
		cursor: pointer;
	}
	
	/*登陆按钮 */
	.loginBtn {
		position: absolute;
		top: 7px;
		left: 93%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}

	/*发布按钮 */
	.issueBtn {
		position: absolute;
		top: 25px;
		left: 80%;
		font-size: 18px;
		height: 0px !important;
		color: #6C6C6C;
		cursor: pointer;
	}
	
}

@media screen and (min-width: 650px) and (max-width: 800px) {

	/*搜索框*/
	.searchBox {
		height: 45px;
		border-radius: 60px;	
		position: absolute;
		top: 7px;
		left: 250px;
		width: 300px !important;
		background-color: #F0F0F0;
	}
	
	/*栏目按钮*/
	.programaBtn {
		position: absolute;
		top: 25px;
		left: 86%;
		font-size: 22px;
		height: 0px !important;
		color: #6C6C6C;
		cursor: pointer;
	}
	
	/*登陆按钮 */
	.loginBtn {
		position: absolute;
		top: 7px;
		left: 90%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}
	
	/*滚动条*/
	#d__uid_16>.d-modern-scroller>.track, .slider.ui-draggable {
		visibility: hidden !important;
	}
	
	/*发布按钮 */
	.issueBtn {
		visibility: hidden;
	}
}


@media screen and (min-width: 460px) and (max-width: 650px) {
	
	/*搜索框*/
	.searchBox {
		visibility: hidden;
		width: 0px !inportant;
	}
	
	/*栏目按钮*/
	.programaBtn {
		visibility: hidden;
	}
	
	/*登陆按钮 */
	.loginBtn {
		position: absolute;
		top: 7px;
		left: 87%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}
	
	/*滚动条*/
	#d__uid_16>.d-modern-scroller>.track, .slider.ui-draggable {
		visibility: hidden !important;
	}
	
	/*发布按钮 */
	.issueBtn {
		visibility: hidden;
	}

}

@media screen and (max-width: 460px) {
	
	/*搜索框*/
	.searchBox {
		visibility: hidden;
		width: 0px !inportant;
	}
	
	/*栏目按钮*/
	.programaBtn {
		visibility: hidden;
	}
	
	/*登陆按钮 */
	.loginBtn {
		visibility: hidden;
	}
	
	/*滚动条*/
	#d__uid_15>.d-modern-scroller>.track, .slider.ui-draggable {
		visibility: hidden !important;
	}
	
	/*发布按钮 */
	.issueBtn {
		visibility: hidden;
	}

}

/**********************************************************/

#d_viewMain {
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

/*发布按钮*/
#d__uid_20:hover {
	color: #000;
}

/*搜索提示框*/
#d__uid_58 {
	font-size: 16px;
}

/* 系统名称 */
#d__uid_16 {
	position: absolute;
	top: 18px;
	left: 20px;
	font-size: 26px;
	color: #6C6C6C;
	height: 0px !important;
}

/*登陆按钮 */
#d__uid_24>span {
	padding-top: 12px;
	font-size: 13px;
	margin-left: -1px;
}

#d__uid_24:hover {
	background-color: #4684ee;
	color: #FFF;
}

/* 搜索框中的搜索图标 */
.fa-search:before {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 25px;
	color: #BEBEBE;
}

/* 搜索框中的编辑框 */
input.editor {
	font-size: 20px;
	padding-top: 2px !important;
	padding-left: 30px !important;
	height: 40px !important;
	
}

.editor {
	width: 95% !important;
	margin-left: 15px !important;
}

/*栏目按钮*/
#d__uid_22:hover {
	color: #000;
}

/*工具栏  外层container*/
#d__uid_15 {
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #FFF;
	width: 100% !important;
	box-shadow: 0px 4px 6px #BEBEBE;
}

/*blockView 外层container*/
#d_homePage {
	padding-top: 100px;
	z-index: 1;
}


/*悬浮栏目Panel*/
#d_programaPanel {
	border:1px solid;
	border-color: #d0d0d0;
}

/*悬浮栏目*/
#d_bvPrograma {
	background-color: #FFF;
}

/*悬浮栏目项背景*/
#d_bvPrograma .block {
	background-color: #FFF;
	cursor: pointer;
}

/*悬浮栏目项名称*/
#d_bvPrograma>div>div>div>h2 {
	text-align: center;
	margin-top: -15px;
	font-weight: 500;
	font-size: 16px;
}

/*悬浮栏目项图标*/
#d_bvPrograma>div>div>div>h4>i {
	padding-left: 23px;
	font-size: 50px;
}


/******************************************************/


/*新闻标题*/
#d_bvSearch>div>div>div>h4 {
	font-size: 20px;
	font-family: serif;
	margin-top: 5px;
	color: #058FE1;
	cursor: pointer;
}

/*新闻时间*/
#d_bvSearch>div>div>div>#time {
	font-size: 18px;
	font-family: serif;
	margin-top: -18px;
}

/*新闻正文*/
#d_bvSearch>div>div>div>p {
	font-size: 18px;
	font-family: serif;
	margin-top: -5px;
}

/*新闻正文背景*/
#d_bvSearch .block {
	background-color: #FFF;
}

.d-block-view .block-current {
	color: #000;
	background-color: #f7f7f7;
}

.d-block-view .block-hover {
	color: #000;
	background-color: #f7f7f7;
}

/*上下页按钮*/

#d_next, #d_last {
	color: #058FE1;
	border: 1 solid;
	border-color: #E0E0E0;
	font-size: 18px;
	font-family: serif;
	width: 90px;
	height: 36px;
}

#d_next span, #d_last span {
	padding-top: 5px !important;
}

#d_next:hover, #d_last:hover {
	background-color: #ECF5FF!important;
	border-color: #058FE1;
}

